@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fotos/nebulous.png);
    background-repeat:repeat;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
}

.titulo{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}
.info{
    background-color: black;
    display: flex;
    color: white;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 300px;
}
.info > input{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;

}
main > p{
    color: white;
    font-size: 3rem;
    padding-top: 40px;
    text-align: center;
}
input{
    background-color: black;
    color: white;
    padding: 20px 40px;
}
#btn{
    background-color: rgb(186, 182, 182);
    color: black;
    border-radius: 50px;
}


form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px;
}

.cadmodal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
 
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }

  .cards {
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card{
    width: 300px;
}

.card img{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 300px;
    height: 200px;
}

.cards img:hover{
    opacity: 0.7;
}

.cardinfo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
}

.cardnome {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(253, 38, 124);
    text-align: center;
    margin-top: -5px;
    padding: 20px;
}

.cardnome p{
  font-size: 1rem;
  font-weight: normal;
}
